<%= form_for(@source) do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :title, "Título" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :url, "Url" %>
    <%= f.text_field :url %>
  </div>
  
  <div class="field">
    <%= f.label :description, "Descripción" %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :category_id, "Categoría" %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>    
  </div>


  <div class="actions">
    <%= f.submit "Crear nueva fuente" %>
  </div>
<% end %>
