<%= form_for(@app) do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.url_field :url %>
  </div>

  <div class="field">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :category_id, "Categoría" %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>    
  </div>
  
  <div class="field">
    <%= f.label :description, "Descripción" %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :author, "Autor" %>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :app_type, "Tipo de aplicación" %>
    <%= f.select :app_type, ['Applicación Móvil', 'Web Movil', 'Web', 'Api'] %>
  </div>
  <div class="actions">
    <button type="submit" class="button"><em>Crear</em></button>
  </div>
<% end %>
