<div id="head" class="slides">
  <%= slides_for(@highlighted_apps.all, 'highlighted_app' ) %>
</div> <!-- #slider -->




<div id="left">
  <h2>Listado de Aplicaciones de Open Data</h2>
  <ul class="app_list">
    <%= render @apps %>
  </ul>

</div> <!-- #apps -->

<div id="right">
  <%= form_tag '?', :id => "main_search", :method => :get do %>
  <fieldset>
    <label>
      <strong>Buscar</strong>
      <%= text_field_tag :search %>
      <button type="submit"> <span>Buscar</span> </button>
    </label>
  </fieldset>
  
  <% end %>

  <h5>Categorías</h5>
  <ul>
    <li><a href="#" title="Educación">Educación</a></li>
    <li><a href="#" title="Energía">Energía</a></li>
    <li><a href="#" title="Estadística">Estadística</a></li>
    <li><a href="#" title="Medio Ambiente">Medio Ambiente</a></li>
    <li><a href="#" title="Política">Política</a></li>
  </ul>

  <%= render 'categories/categories' %>


</div> <!-- #sidebar -->
