<div id="head" class="slides">
  <%= slides_for(@highlighted_apps.all, 'highlighted_app' ) %>
</div> <!-- #slider -->




<div id="left">
  <h2>Listado de Aplicaciones de Open Data</h2>
  <ul class="app_list">
    <%= render @apps %>
  </ul>

</div> <!-- #apps -->

<div id="right">
  <%= form_tag '?', :id => "main_search", :method => :get do %>
  <fieldset>
    <label>
      <strong>Buscar</strong>
      <%= text_field_tag :search %>
      <button type="submit"> <span>Buscar</span> </button>
    </label>
  </fieldset>
  
  <% end %>

  <%= render 'categories/categories' %>


</div> <!-- #sidebar -->
