<ul id="head">
  <li class="slide">
    <% if @app.has_screenshots? %>
    <%= link_to image_tag(@app.screenshot_medium), @app %>
    <h2><%= link_to @app.name, @app %></h2>
    <p class="go"><%= link_to @app.host, @app.url %></p>
    <p>
      <%= @app.description %>
    </p>

    <div class="annotations">
      <div class="score">
        <%= facebook_like(@app.host) %>
      </div>
      <div class="comments"><span><%= @app.comments.count %></span> comentarios</div>
    </div><% else %>
    <p>No hay ninguna app destacada</p>
    <% end %>
  </li>



</ul> <!-- #slider -->

<div class="slidetabs">
  <a href="#"></a>
  <a href="#"></a>
  <a href="#"></a>
</div> <!-- the tabs -->

<div id="left">
  <h2>Listado de Aplicaciones de Open Data</h2>
  <ul class="app_list">
    <%= render @apps %>
  </ul>

</div> <!-- #apps -->

<div id="right">
  <form action="es/search/" id="main_search" method="get" accept-charset="utf-8">
    <fieldset>
      <label>
        <strong>Buscar</strong>
        <input name="search" type="text" id="search" value="" />
        <button type="submit"> <span>Buscar</span> </button>
      </label>
    </fieldset>
  </form>

  <h5>Categorías</h5>
  <ul>
    <li><a href="#" title="Educación">Educación</a></li>
    <li><a href="#" title="Energía">Energía</a></li>
    <li><a href="#" title="Estadística">Estadística</a></li>
    <li><a href="#" title="Medio Ambiente">Medio Ambiente</a></li>
    <li><a href="#" title="Política">Política</a></li>
  </ul>

</div> <!-- #sidebar -->
