<% content_for :javascript do %>
 $('#screenshots li a').click(function(event){
   event.preventDefault();
   $('#screenshots li .pico').hide();
   $('#screenshots img.big').attr('src', $(this).attr('href'));
   $('.pico', $(this).parent('li')).show();
 });
<% end %>

<div id="left">
  <div id="container">
    <%= link_to image_tag(@app.screenshot_medium || '/images/ind-medium.jpg', :height => 196, :width => 210), @app.url, :class => "image" %>
  <h2 class="app-name"><%= @app.short_name %></h2>
  <p class="go"><%= link_to @app.url, @app.uri.host %></p>
  <p><%= @app.description %>
  <div class="annotations">
    <div class="score">
      <%= facebook_like(@app.url) %>
    </div>
  </div>
  </div> <!-- container -->
      
      <% if @app.has_screenshots? %>
      <div id="screenshots">
        <img class="big" src="<%= @app.screenshot_big %>" alt="" width="610" height="450" />
        <%= thumbnails_for(@app) %>
      </div>
      <% else %>
      <p>No disponemos de ningún screenshots</p>
      <% end %>
        
  <h2>Comentarios</h2>
  <% if @app.comments.any? %>
    <ul id="comments">
      <%= render @app.comments %>
    </ul>
  <% else %>
    <p>No hay comentarios :-(</p>
  <% end %>
  <h4>Crear nuevo comentario</h4>
  <% form_for [@app,@comment = @app.comments.new(:user => current_user)] do |f| %>
  <%= render 'comments/form', :f => f %>
  <% end %>
</div> <!-- #main-app -->


<div id="right">
  <h5>Información</h5>
  <dl>
    <%= dt_dd("Autor",@app.author) %>
    <%= dt_dd("Url", link_to(@app.host, @app.url)) %>
    <%= dt_dd("Fecha de alta", @app.created_at.to_s(:short)) %>
    <%= dt_dd("Categoría", @app.category_name) %>
    <%= dt_dd("Tipo", @app.app_type) %>
    <%= dt_dd("Fuentes de datos", app_sources_list(@app)) %>
  </dl>
</div> <!-- #sidebar -->